<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <globalization culture="en-US"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>

  <appSettings>
    
    <add key="jslibs" value="http://localhost/jsLibs/" />

    <!--Sencha settings: ExtJs / Touch  -->
    <add key="sencha_settings" value="{extjs_version: '5.0.0'}" />

    <!--OpenLayers-->
    <add key="ol_settings" value="{version: '3.0.0-gamma.3'}" />

    <!--token related settings-->
    <add key="token_master_settings" value="../_wms_common_settings/token_master_settings.json"/>
    
  </appSettings>
  
</configuration>



