<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <globalization culture="en-US"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>

  
  <appSettings>
    
    <!--Wms service description-->
    <add key="wms_service_description" value="../_wms_common_settings/wms_service_description.json"/>
    
    <!--GDAL WMS driver related settings-->
    <add key="gdal_wms_settings" value="../_wms_common_settings/gdal_wms_settings.json"/>
    
    <!--Manifold WMS driver related settings-->
    <add key="manifold_wms_settings" value="../_wms_common_settings/manifold_wms_settings.json"/>
    
    <!--Tile cache related settings-->
    <add key="tile_cache_settings" value="../_wms_common_settings/tile_cache_settings.json"/>
    <add key="tile_schemes" value ="../_wms_common_settings/tile_schemes.json"/>
    
    <!--token related settings-->
    <add key="token_master_settings" value="../_wms_common_settings/token_master_settings.json"/>

    <!--stats related settings-->
    <add key="stats_master_settings" value="../_wms_common_settings/stats_master_settings.json"/>
    

  </appSettings>
 
  <system.webServer>
    
  </system.webServer>
</configuration>