<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <globalization culture="en-US"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="20971520"/>
        <!--20mb-->
      </webServices>
    </scripting>
  </system.web.extensions>

  <appSettings>
    
    <add key="jslibs" value="http://localhost/jsLibs/" />

    <!--Sencha settings: ExtJs / Touch  -->
    <add key="sencha_settings" value="{extjs_version: '5.0.1'}" />

    <!--OpenLayers-->
    <add key="ol_settings" value="{version: '3.0.0-gamma.3'}" />

    <!--token related settings-->
    <add key="token_master_settings" value="../_wms_common_settings/token_master_settings.json"/>

    <!--stats related settings-->
    <add key="stats_master_settings" value="../_wms_common_settings/stats_master_settings.json"/>
    
  </appSettings>

  <system.webServer>

    <!--Rewrite rules for an app deployed under a domain-->
    <!--
    <rewrite>
      <rules>
        <clear />
        
        <rule name="hgis_apps -> jslibs" stopProcessing="true">
				  <match url="^.*?(jslibs.*)" />
				  <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
				  <action type="Rewrite" url="/{R:1}" />
				</rule>

				<rule name="hgis_apps -> apps" stopProcessing="true">
				  <match url="^.*?(apps.*)" />
				  <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
				  <action type="Rewrite" url="/{R:1}" />
				</rule>

				<rule name="hgis_apps -> webservices" stopProcessing="true">
				  <match url="^.*?(webservices.*)" />
				  <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
				  <action type="Rewrite" url="/{R:1}" />
				</rule>

				<rule name="hgis_apps -> resources" stopProcessing="true">
				  <match url="^.*?(resx.*)" />
				  <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
				  <action type="Rewrite" url="/{R:1}" />
				</rule>

				<rule name="hgis_apps -> proxies" stopProcessing="true">
				  <match url="^.*?(proxies.*)" />
				  <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
				  <action type="Rewrite" url="/{R:1}" />
				</rule>
        
        <rule name="hgis_apps -> aspx">
          <match url="^.*?([^/]+)?/?" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/?app={R:1}" />
        </rule>  
      </rules>
    </rewrite>
    -->

    <!--Rewrite rules for an app deployed under a directory under localhost-->
    <!--Note: hgis_apps below should be replaced with an actual path of localhost-->
    <!--
    <rewrite>
      <rules>
        <clear />
        <rule name="hgis_apps -> jslibs" stopProcessing="true">
				  <match url="^hgis_apps.*?(jslibs.*)" />
				  <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
				  <action type="Rewrite" url="hgis_apps/{R:1}" />
				</rule>

				<rule name="hgis_apps -> apps" stopProcessing="true">
				  <match url="^hgis_apps.*?(apps.*)" />
				  <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
				  <action type="Rewrite" url="hgis_apps/{R:1}" />
				</rule>

				<rule name="hgis_apps -> webservices" stopProcessing="true">
				  <match url="^hgis_apps.*?(webservices.*)" />
				  <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
				  <action type="Rewrite" url="hgis_apps/{R:1}" />
				</rule>

				<rule name="hgis_apps -> resources" stopProcessing="true">
				  <match url="^hgis_apps.*?(resx.*)" />
				  <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
				  <action type="Rewrite" url="hgis_apps/{R:1}" />
				</rule>

				<rule name="hgis_apps -> proxies" stopProcessing="true">
				  <match url="^hgis_apps.*?(proxies.*)" />
				  <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
				  <action type="Rewrite" url="hgis_apps/{R:1}" />
				</rule>
				
				<rule name="hgis_apps -> aspx">
				  <match url="^hgis_apps/([^/]+)?/?" />
				  <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
				  <action type="Rewrite" url="hgis_apps/?app={R:1}" />
				</rule> 
      </rules>
    </rewrite>
    -->

  </system.webServer>
  
</configuration>



