<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <globalization culture="en-US"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>

  
  <appSettings>
    <add key="wms_service_description" value="../_wms_common_settings/wms_service_description.json"/>
    <add key="wms_settings" value="../_wms_common_settings/wms_settings.json"/> 
    <add key="tile_cache_settings" value="../_wms_common_settings/tile_cache_settings.json"/>
    <add key="tile_schemes" value ="../_wms_common_settings/tile_schemes.json"/>
  </appSettings>
 
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="wms.ashx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>